<HTML> 
<style> 
html{
	font-size: 60px;
	font-family: Roboto;
	background -color: grey;
}
p1{
	borderline: 40px;
	padding: 50px;
}
p2{
	font-size: 50px;
	font-family: Inverted Square;
}
p3{
	font-size: 50px;
	font-family: Roboto;
}
p4 {
	font-size: 60px
	font-family: Roboto;
}
</style>
<body>
<header> 
<h2> Feeling ill </h2>
<div class="vertical-menu">
  <a href="#" class="active">Home</a>
  <a href="https://www.cinemablend.com/videos/f9-interviews-sung-kang-jordana-brewster-justin-lin-jd-pardo/2573896/?pv=related_list">Cinemablend</a>
  <a href="https://www.quackit.com/css/css3/properties/css_all.cfm"> 
 <a href=" https://www.msn.com/en-za/">MSN</a>
 <a href="https://www.samsung.com//za/tablets/galaxy-tab-s/galaxy-tab-s7-fe-5g-pink-128gb-sm-t736blizafa/?gclid=EAIaIQobChMI7KSIkvWU8wIV4oBQBh1kbAgPEAQYASABEgLbk_D_BwE ">Samsung</a>
<hr><center>
<img src = "https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB1dTTPS.img?h=718&w=1248&m=6&q=60&o=f&l=f"/></center>

<br>
<p1> In Chief Justice Mogoeng Mogoeng’s almost three-hour “message to South Africa” at the Vosloorus Kingdom Covenant Assembly on Wednesday, there were claims that God had promised to make him “the most influential Chief Justice the world has ever seen”, that he had been divinely chosen to the position and that he was now ready to go to war against the forces of evil.

The “greatest revival ever in the history of the Earth” was about to happen, he prophesied, and South Africa was soon set to become its epicentre – “the glory bowl of revival” – spreading then to the rest of the continent and the world.

Whether this was the Chief Justice’s launch into his new life as an “anointed one”, only God knows.

Mogoeng began his fiery address with the New Testament apocalyptic favourite, the Book of Revelation, and a trippy tale about a red dragon with seven heads who stood before a woman giving birth, just waiting to devour the child (Rev 12: 1-5).

“Who has bewitched us?” he asked.

The Chief Justice said the Bible text had been “given to him by God” to read so he was just going to go ahead and we were to make of it what we must or will. 

He then skipped to the Book of Kings and the tale of Jezebel, the divider wife of Ahab.

The moral of their story, of course, is not to ignore prophets, and in Mogoeng’s eyes (and those of his fellow saints and anointees present on Wednesday) this is what he is, like Daniel, opined one of those gathered at the start.

Do watch the entire three hours, we may have missed a huge amount, not having internalised this world of wizards and snakes, devils and assorted abominations working through other people who were enemies of God.

The red dragon of earlier, said Mogoeng could be spotted all over the provinces – “you can see for yourself”.

“This country, this continent and other nations of the Earth are being manipulated, deceived, taken advantage of by a great red dragon,” said Mogoeng.

“Before you know it, resources are gone, taken by the one who is just waiting for the baby to be born. It is part of trying to devour the baby before it even comes out.”

Which led into a stream of consciousness about the levels of immorality in South Africa being unprecedented. 

“Those with the critical power and authority to turn the situation around have to deal with the great red dragon and Jezebel and Rahab [the harlot, apparently] and the Queen of Heaven who have connected at Cape Agulhas and indulged in their sexual immorality, unimaginable perversion! Shedding innocent blood while we are all watching with all the keys, all the instruments, all authority God has given to us!”

Jezebel had “broadcast stories, on radio, on television about an innocent soul” (apparently a man killed for his inheritance) and was as responsible for his death as were the “worshippers of the media”.

People today wanted to amend the Bible or interpret it to suit the modern world, but they were doing the devil’s work.

He said there was a “fierce war in South Africa and across the nations of the world” between “the dragon, the leviathan, Rahab, the Queen of Heaven, Mammon, Belial, and any other form that the enemy may wish to assume in order to achieve his objective.

“I say it with all sense of humility, no man can stop me from doing what I want to do, only God can!” the Chief Justice proclaimed.

“Who is big enough to call us together?” he asked. DM </p1></center>
<br><hr><center>
<img src = "https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAOFcKj.img?h=702&w=1248&m=6&q=60&o=f&l=f">
<br><p2> No jab, no jiggy: Eastern…
Rihanna Admits Her…

Cape Town - The UCT senate will this week vote on a motion of whether to make vaccination mandatory at the institution or not.
The decision to vote was taken on Friday during a senate meeting, where discussions were also held online with students and staff members on the issue.

UCT spokesperson Elijah Moholola said the senate had considered a proposal on mandatory vaccination at the meeting. </p2><br>
<img src = "https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAOIg5R.img?h=1040&w=1248&m=6&q=60&o=f&l=f">

<hr><br>
 <p2> The limit is getting higher and higher. And the more we go up to the end of the season … there’s a sporting fight at the maximum intensity, not only for them, but also for the team.

“The situation that happened in Monza was related to the fact that both were in a position where if everything was perfectly done, it was not there. So everyone is pushed up to the limit. It would be interesting to see, hopefully, up to the last race.

 “The good thing is that every time they would be close, everyone will try to think what the others are thinking: ‘Who is stronger? Do I need to give up or not?’ That’s incredible in terms of tension.”</p2>

<h2> Cinema Review </h2><br>
<img src = " https://img.cinemablend.com/cdn-cgi/image/fit=cover,w=1575,h=785//quill/8/d/e/e/3/b/8dee3b74ada738d2f90975dde4e9b439c79d4afb.jpg" > 
<p1> When the Fantastic Beasts movies were announced back in 2013, Harry Potter fans got excited about exploring Newt Scamander, a whimsical Magizoologist who compiled a directory of magical creatures in the Wizarding World through a new set of films.  Following The Crimes of Grindelwald, we now have the official title for Fantastic Beasts 3, and it seems to confirm some disheartening theories about the franchise’s direction. Namely that Fantastic Beasts doesn’t look like it really cares about Eddie Redmayne’s Newt anymore. </p1>
<hr><br>

<img src = " data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 264' style='background: rgba(0,0,0,.1)'%3E%3C/svg%3E ">

<p2>It almost feels as if fans have been guided one way and then forced to look into another direction in terms of this franchise. The first movie was all about Eddie Redmayne’s character and how he travels around to save the precious magical creatures roaming across the world. However, in Crimes of Grindelwald, Newt was pushed off to the side in order to serve a larger plot having to do with the infamous duel between Dumbledore and Grindelwald. </p2>
<hr>
<center>
<img src = "https://img.cinemablend.com/quill/0/4/c/4/1/b/04c41bd784cf27a75ff8d298bc2c2d689dcbeb5f.jpg" width = "800px"></center>

<p2> A former army medic gets hooked on opioids to deal with his PTSD, and begins robbing banks to support his habit. </p2>
<br>
<h2> Laptop Gear!  </h2> 
<hr>
<img src ="https://images.samsung.com/is/image/samsung/p6pim/za/feature/141119015/za-feature-the-battery-to-take-on-your-busy-days-466601508?$FB_TYPE_A_JPG$">
<br>
<p5> Your writing instantly turns into text for easy organization. Write in a search bar or the title bar of Samsung Notes with the S Pen, and then take down notes and convert those to text at a tap.<p5>
<br>
<br><br>
<img src ="https://images.samsung.com/is/image/samsung/p6pim/za/feature/141119023/za-feature-title-and-tag-it-466601507?$FB_TYPE_B_JPG$">
<hr><br>
<p2> And most of the stunts you'll see - I don't know if I'm allowed to talk about this - but most of them are real, and it's so, so amazing how cool these stunts are. You won't believe it, honestly, how they do these stunts. And working with Zac - Zac is super-duper sweet. I'm so grateful to work with him as well. Also, a very, very humble person, and very, very talented. I'm so glad I get to be a part of Firestarter. </p2>
<br>
<img src = "https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AALr4ED.img?h=582&w=1119&m=6&q=60&u=t&o=f&l=f"> <hr><br><br>
<p2> Milky Way gallery: See awe-inspiring images of our galaxy
Throughout the ages, the Milky Way has hung above humanity in the sky, a beautiful marvel shining steadily each night.

Nowadays, most city-bound folks rarely see the full splendor of our home galaxy stretching across the heavens. Luckily, there are photographers all over the world with the skills to show off what many skywatchers are missing. 

Here, we take a look at the winners of the 2021 Milky Way Photographer of the Year competition from the travel and photography site Capture the Atlas. </p2><br>
<img src =" https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AALqYeR.img?h=582&w=1119&m=6&q=60&u=t&o=f&l=f"> 
<br><hr>
<cite> <li>Dragon's Lair
Daniel Thomas Gum
Mungo, Australia</li> </cite>
<p5> In many cultures, our local galaxy acts as a bridge to other worlds. Here, it can be seen connecting distant peaks in a rugged landscape in a part of New South Wales, Australia, that is a 12-hour drive from Sydney. The photographer, Daniel Thomas Gum, had a picture in mind for an otherworldly "Game of Thrones"-style image, waiting for everything to line up to get the perfect shot. </p5><Br>

<img src = "https://images.samsung.com/is/image/samsung/assets/za/refrigerators/bespoke/Samsung_Dotcom_Desktop_Bespoke_1440x640_No_Text1.jpeg?imwidth=1366">
<br><hr>
<p2> This is something that I should be trying to show off about off it contains, the most important thing, it is very brand new and should be the people very and how, should I not be able to afford until it is cheaper then before </p2><br><br>
<img src = "https://static.acer.com/up/Resource/Acer/Laptops/Swift_3_SF314_511/Overview/20210611/Swift-3_Main_2560.jpg">
<br><br>
<p2> Perform at your very best with the lightweight Swift 3, designed on the Intel® Evo™ platform for an exceptional experience anywhere. Twinned with enduring battery life, be supported, empowered, and do it all while you're on the move. Never slow down. </p2><br>
<img src = " https://static.acer.com/up/Resource/Acer/Professional/Product/Desktop/Veriton_Essential_S/Images/20181128/Acer-Veriton-VES2720G-VES2730G-preview.png"><hr>
<p5>Ports for all Occasions
Expand the functionality with a host of ports to connect almost any secondary device. The six USB ports front and back, a legacy VGA port, a modern HDMI port and a Gigabit LAN Ethernet port allow it to operate in many office environments. </p5>

<img src = "https://www.wwe.com/f/styles/wwe_16_9_l/public/all/2021/09/20210921_NXT_final--b3d74ff3355a66395abc745039a0c798.jpg"> 
<hr><br><p2> 
<cite> Copyright 2021.</cite>
</body>
</header>
</HTML>
